In [1]:
from data.helper import *

In [2]:
DF = get_train_df()

100%|██████████| 360/360 [00:00<00:00, 5931.68it/s]

In [5]:
for domain in DOMAINS:
    df = DF.copy()
    print(domain)
    df = df[df["domain"] == domain]
    df = df[df["optimiser"].isin({"svr", "rank-svm"})]
    # combine rows with same pruning, optimiser and iterations
    df = df.groupby(["pruning", "optimiser"]).max().reset_index()
    df = df[["pruning", "optimiser", "n_data"]]
    # pivot table
    df = df.pivot_table(index=["pruning", "optimiser"], values="n_data")
    # make entries int2
    df = df.astype(int)
    df = df.fillna(0)
    display(df)

blocksworld

                    n_data
pruning  optimiser
collapse rank-svm     7703
         svr          1292
none     rank-svm     7703
         svr          1292

childsnack

                    n_data
pruning  optimiser
collapse rank-svm    10334
         svr           473
none     rank-svm    10334
         svr           473

ferry

                    n_data
pruning  optimiser
collapse rank-svm    13719
         svr          1368
none     rank-svm    13719
         svr          1368

floortile

                    n_data
pruning  optimiser
collapse rank-svm    32549
         svr          3187
none     rank-svm    32549
         svr          3187

miconic

                    n_data
pruning  optimiser
collapse rank-svm    24089
         svr          1630
none     rank-svm    24089
         svr          1630

rovers

                    n_data
pruning  optimiser
collapse rank-svm    21036
         svr          1428
none     rank-svm    21036
         svr          1428

satellite

                    n_data
pruning  optimiser
collapse rank-svm    65312
         svr          1158
none     rank-svm    65312
         svr          1158

sokoban

                    n_data
pruning  optimiser
collapse rank-svm    10406
         svr          2422
none     rank-svm    10406
         svr          2422

spanner

                    n_data
pruning  optimiser
collapse rank-svm     4576
         svr          1204
none     rank-svm     4576
         svr          1204

transport

                    n_data
pruning  optimiser
collapse rank-svm    15013
         svr           735
none     rank-svm    15013
         svr           735

In [ ]:
for domain in DOMAINS:
    df = DF.copy()
    print(domain)
    df = df[df["domain"] == domain]
    df = df[df["optimiser"].isin({"svr", "rank-svm"})]
    # combine rows with same pruning, optimiser and iterations
    df = df.groupby(["pruning", "optimiser", "iterations"]).max().reset_index()
    df = df[["pruning", "optimiser", "iterations", "n_colours"]]
    # pivot table
    df = df.pivot_table(index=["pruning", "optimiser"], columns="iterations", values="n_colours")
    # make entries int
    df = df.astype(int)
    df = df.fillna(0)
    display(df)

blocksworld

iterations           1    2     3      4      5       6
pruning  optimiser
collapse rank-svm   52  319  1691   3576   4346    4389
         svr        52  309  1075   1770   1929    1940
none     rank-svm   52  357  3697  22835  57325  127606
         svr        52  347  2319  10444  22253   41815

childsnack

iterations           1   2    3    4    5    6
pruning  optimiser
collapse rank-svm   31  59   86   92   95   96
         svr        31  59   82   82   82   82
none     rank-svm   37  84  158  259  384  519
         svr        37  84  156  251  365  484

ferry

iterations           1    2     3     4      5      6
pruning  optimiser
collapse rank-svm   84  205   212   213    214    215
         svr        78  191   198   199    200    201
none     rank-svm   87  371  1477  4394  10821  25509
         svr        81  344  1199  3228   6880  13580

floortile

iterations            1     2     3      4      5      6
pruning  optimiser
collapse rank-svm   432  1541  2224   2258   2258   2258
         svr        261   704   742    753    753    753
none     rank-svm   435  2645  8004  19824  40094  71302
         svr        264  1316  3527   7616  13910  22399

miconic

iterations           1   2   3    4    5    6
pruning  optimiser
collapse rank-svm   18  24  24   24   24   24
         svr        18  24  24   24   24   24
none     rank-svm   21  45  74  108  142  176
         svr        21  45  74  108  142  176

rovers

iterations            1     2      3      4       5       6
pruning  optimiser
collapse rank-svm   377  4982  11328  13943   14299   14354
         svr        293  2156   4023   4579    4641    4659
none     rank-svm   380  6727  25177  72407  141090  233512
         svr        296  3402  10409  23202   38771   56793

satellite

iterations            1     2      3       4       5        6
pruning  optimiser
collapse rank-svm   299  3894  31270      -1      -1       -1
         svr        220  1771   4417    5934    6112     6122
none     rank-svm   299  4263  40912  236972  568744  1133424
         svr        221  2229   8133   22155   40673    63078

sokoban

iterations           1   2   3    4    5    6
pruning  optimiser
collapse rank-svm   19  26  26   26   26   26
         svr        19  26  26   26   26   26
none     rank-svm   23  49  79  114  154  198
         svr        23  49  78  110  145  181

spanner

iterations           1   2    3    4    5    6
pruning  optimiser
collapse rank-svm   25  65   99  102  102  102
         svr        25  64   96   99   99   99
none     rank-svm   29  84  197  374  607  871
         svr        29  83  189  350  558  797

transport

iterations           1    2     3     4      5      6
pruning  optimiser
collapse rank-svm   82  373  1189  3125   6418  10410
         svr        64  255   644  1291   1943   2399
none     rank-svm   84  463  2097  8932  28140  73835
         svr        66  329  1215  3787   8758  16827